* {
    padding: 0;
    margin: 0;
}
:root{
    --background: #000000;
    --text1: #FFFFFF;
    --cyan: #26a69a;
    --bodyfont: "Ubuntu";
    --links: "Courier";
    --reddish: #D5747f;
    --text2: #9edab1;
    --buttonborder:#005d5c;
    --bodyfont2: "Now";
    --buttoncolor:#272727;
    --hovercolor: #575757;
}
body {
    background-color: var(--background);
    color: var(--text1);
    box-sizing: border-box;
    height: 100vh; /*viewport height*/
}
.header{
padding: 2% 0% 0% 15%;

}
.headermenu{
   display: flex;
   gap: 80px;
}
.headerlinks{
    font-family: var(--bodyfont); 
    font-size: 1.5rem;
    font-weight: 600;
    color:var(--cyan);
    text-decoration: none; 
}
.bondtitle {
    color: var(--cyan);
    font-weight: bolder;
}
.textodestacado {
    font-weight: bolder;
    color: var(--text2);
}
.textodestacado:hover{
    font-size: 2.25rem;
}
.presentation {
    display: flex; 
    align-items: center;
    padding: 5% 15%;
    justify-content: space-between;
    gap: 82px;
}
.content_presentation{
width: 50%;
display: flex;
flex-direction: column;
gap: 40px;
}
.title_content_presentation{
    font-family: var(--bodyfont2);
    font-size: 2.25rem;
}
.body_content_presentation{
    font-size: 1.5rem; 
    font-family: var(--bodyfont);
}
.presentation_links{
    display: flex;
    justify-content:space-between;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}
.link4real {
    text-decoration: none; 
    text-align: center;
    padding: 18.5px 0;
    border-radius: 8px;
    font-size: 1.5rem;
    color: var(--reddish);
    font-weight: 600;
    font-family: var(--links); 
    width: 50%;
    border: 2px solid var(--cyan);
    display: flex;
    justify-content: center;
    gap: 10px;
}
.links_subtitle {
    font-family: var(--links);
    font-size: 1.5rem;
    font-weight: 400; 
}
.link4real:hover{
    background-color:  var(--hovercolor);
    border: 2px solid var(--buttonborder);
        cursor: pointer;
        background-color: var(--buttoncolor);
    }
    .img_presentation{
      width: 50%;  
    }
    footer {
        background-color: var(--cyan);
        padding: 24px;
        color:var(--background);
        text-align: center;
        font-family: var(--links);
        font-size: 1.5rem;
    }
    @media (max-width: 1080px) {
        .header{
            padding: 10%;
        }
        .headermenu{
            justify-content: center;
        }
        .presentation{
            flex-direction: column-reverse;
            padding: 5%;
        }
        .content_presentation{
            width: auto;
        }
    }
/* Agregar luego en iPad: " the margin property controls the space outside 
an element, and the padding property controls the space inside an element."
En informática gráfica, el viewport es la porción del área visible 
de un plano y se utiliza como unidad de medida en 
 CSS para crear páginas web 100% responsivas. 
En otras palabras, el viewport varía de dispositivo a dispositivo
Se usa el . para clases, y nada para "secciones"¿
Media Queries: max width¿
width: auto; = width: 100%;
*/